@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

header{
    width: 100% ;
    position: fixed;
}


.header-top{
    width: 100%;
    
}
.temperatura, .feels-like{
    font-weight: 600;
}

.temperatura {
    font-size: 28px;
}
.detalles i{
     color: #d1fcb5cc;
    
}

.feels{
    padding-right: 50px;
    border-right: 1px solid #bfbfbf;
}

.navegacion{
    width: 90%;
    max-width: 1000px ;
    margin: auto;
    padding: 12px 0px 0px 0px;
}


input[type="search"]{
    padding: 10px;
    padding-right: 35px;
    border: none;
   
    
}

.search{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 0 10px;
    padding-bottom: 5px;
    max-height: 85%;
    overflow-x: hidden;
    display: none;
}

.search-table{
    width: 100%;
}

tbody tr td{
    font-size: 18px;
    color: #737373;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-left: 20px;
    border: 2px solid #fff;
}

tbody tr td:hover{
    color: #423f3f;
}


.container{
    
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #62b8f5, #4475ef);
    color: rgba(255, 255, 255, 0.87);
    text-shadow: 5px rgb(255, 255, 255);
}

.tit{
    font-weight: 500;
    padding: 16px 15px;
    border-bottom: 1px solid #bfbfbf;
    display: flex;
    align-items: center;
    
    font-size: 21px;
    
}

#tit2{
    margin-right: 10px;
    font-size: 28px;
}

.current-temp{
    width: 400px;
    border-radius: 0.6em;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 20px 25px 30px;
    line-height: 35px;
    box-shadow: 0 1.8em 3.7em rgba(3, 46, 87, 0.2);

}

.detalles {
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
    padding-top: 20px;
}

.inf-part{
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
    header{
        width: 100% ;
        position: fixed;
        height: 100vh;
        
    }
    
    .header-top{
        width: 100%;
        
    }
    


    
    input[type="search"]{
        padding: 10px;
        padding-right: 35px;
        border: 1.5px solid #bfbfbf !important;
        outline: none;
    }
    
    .search{
        width: 90%;
        max-width: 1000px;
        margin: auto;
        background: #fff;
        padding: 0 10px;
        padding-bottom: 5px;
        max-height: 250px;
        overflow-x: hidden;
        z-index: 1000;
    }
    
    .search-table{
        width: 100%;
    }
    
    tbody tr td{
        font-size: 18px;
        color: #737373;
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        padding-left: 20px;
        border: 2px solid #fff;
    }
    
    tbody tr td:hover{
        color: #423f3f;
    }

   .container i {
        cursor: pointer;
        color: #d1fcb5cc;
    }
    
.dataTables_length, 
.dataTables_filter,
.dataTables_info,
.dataTables_paginate{
    display: none;
}

