@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

header{
    width: 100% ;
    position: fixed;
}


.header-top{
    width: 100%;
    background: blue;
}

.navegacion{
    width: 90%;
    max-width: 1000px ;
    margin: auto;
    padding: 12px;
}


input[type="search"]{
    padding: 10px;
    padding-right: 35px;
    border: none;
    border-radius: 15px;
}

.search{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 0 10px;
    padding-bottom: 5px;
    max-height: 85%;
    overflow-x: hidden;
    display: none;
}

.search-table{
    width: 100%;
}

tbody tr td{
    font-size: 18px;
    color: #737373;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-left: 20px;
    border: 2px solid #fff;
}

tbody tr td:hover{
    color: #423f3f;
}


.container{
   
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #43AFFC;
}
.current-temp{
    width: 400px;
    border-radius: 7px;
    background-color: #fff;
}

    
    header{
        width: 100% ;
        position: fixed;
        height: 100vh;
        
    }
    
    .header-top{
        width: 100%;
        background: blue;
    }
    


    .navegacion{
        width: 90%;
        max-width: 1000px ;
        margin: auto;
        padding: 12px;
    }
    
    input[type="search"]{
        padding: 10px;
        padding-right: 35px;
        border: none;
    }
    
    .search{
        width: 90%;
        max-width: 1000px;
        margin: auto;
        background: #fff;
        padding: 0 10px;
        padding-bottom: 5px;
        max-height: 85%;
        overflow-x: hidden;
    }
    
    .search-table{
        width: 100%;
    }
    
    tbody tr td{
        font-size: 18px;
        color: #737373;
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        padding-left: 20px;
        border: 2px solid #fff;
    }
    
    tbody tr td:hover{
        color: #423f3f;
    }
    
.dataTables_length, 
.dataTables_filter,
.dataTables_info,
.dataTables_paginate{
    display: none;
}

